/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
  position: relative;
  display: inline-block;
  width: 132px;
  height: 40px;
  background: url(~@images/logo-bar@2x.png) no-repeat center center;
  background-size: cover;
  text-decoration: none;
  font-size: 0;
  line-height: 0;
  text-indent: -4004px;
}
