/* ------------------------------------------------------------ *\
  List
\* ------------------------------------------------------------ */

[class^="list-"],
[class^="list-"] ol,
[class^="list-"] ul { list-style: none outside none; }

/* ------------------------------------------------------------ *\
  List Buttons
\* ------------------------------------------------------------ */

.list-buttons { line-height: 1.2; font-family: $font-barlow-semi-condensed; text-align: center; font-weight: 600; font-size: 18px; }
.list-buttons ul { display: flex; justify-content: center; align-items: center; }
.list-buttons a { text-decoration: none; display: block; min-width: 178px; border-radius: 4px; background: $blue; color: $white; padding: 11px 10px; border: 2px solid $blue; }
.list-buttons i { display: inline-block; vertical-align: middle; }
.list-buttons i path { fill: $white; transition: fill .3s; }
.list-buttons span { display: inline-block; vertical-align: middle; margin-left: 5px; padding-bottom: 3px; }
.list-buttons li { padding: 10px; }

@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover) {
  .list-buttons a:hover { color: $blue; background: $white; }
  .list-buttons a:hover i path { fill: $blue; }
}

@include mq-tablet-portrait() {
  .list-buttons ul { display: block; }
}
