/* ------------------------------------------------------------ *\
  Button
\* ------------------------------------------------------------ */

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  appearance: none;
  padding: 11px 50px 10px;
}

.btn--blue {
  color: $white;
  background: $blue;
  font-family: $font-barlow-semi-condensed;
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid $blue;

  @media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover) {
    &:hover { background: $white; color: $blue; }
  }
}

.btn--small { padding: 6px 26px; }

/*  Button Block  */

.btn--block { display: block; padding-left: 0; padding-right: 0; }

@include mq-tablet-portrait() {
  .btn--small { padding: 11px 50px 10px; }
}

/* ------------------------------------------------------------ *\
  Burger Button
\* ------------------------------------------------------------ */

.btn-menu { display: none; height: 60px; appearance: none; z-index: 65; background: none; border: none; }
.btn-menu:focus { outline: -webkit-focus-ring-color auto 0; }
.btn-menu span { position: relative; display: block; width: 25px; border-top: 3px solid $blue; }

.btn-menu span:before,
.btn-menu span:after { content: ''; position: absolute; left: 0; width: 100%; height: 3px; background: $blue; }

.btn-menu span:before { top: -12px; }
.btn-menu span:after { top: 6px; }

.btn-menu span:before,
.btn-menu span:after,
.btn-menu span { transition: all .3s linear; }

.btn-menu.active { background-color: transparent; }
.btn-menu.active span { border-color: transparent; }

.btn-menu.active span:before { transform: rotate(45deg) translate(3.5px, 9px); }
.btn-menu.active span:after { transform: rotate(-45deg) translate(3.5px, -9px); }

@include mq-tablet-portrait() {
  .btn-menu { display: block; }
}
