/* ------------------------------------------------------------ *\
	Icons
\* ------------------------------------------------------------ */

.ico-folder { position: relative; width: 18px; height: 15px; }
.ico-folder svg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.ico-gear { position: relative; width: 17px; height: 18px; }
.ico-gear svg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.ico-git { position: relative; width: 18px; height: 18px; }
.ico-git svg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.ico-person { position: relative; display: inline-block; width: 42px; height: 42px; }
.ico-person svg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.ico-send { display: inline-block; vertical-align: middle; width: 24px; height: 24px; position: relative; }
.ico-send svg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }